.fc-view-harness.active{
    border:1px solid #007bff;
    background-color:#e8fafd;
    cursor:pointer;
}
.fc-daygrid-dot-event{
    display: block;
}
.fc-daygrid-dot-event .fc-event-time{
    font-weight: 600;
}
.fc-daygrid-dot-event .fc-event-title{
    font-weight: 400;
}

.fc-view-harness.active td.fc-day:hover{
    background-color: #d1f3f3;
}

.fc-day-grid-event .fc-content{ white-space: normal!important; }

